<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB8H_OrTlvEGpusd3Yd3aC3mac-pZ-e-gQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1052055219490</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.gem</string>
	<key>PROJECT_ID</key>
	<string>gem-project-1a89c</string>
	<key>STORAGE_BUCKET</key>
	<string>gem-project-1a89c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1052055219490:ios:0b43036630da9ee4fec97b</string>
</dict>
</plist>